
<h1>Couples</h1>

<ol>
	<% @couples.each do |couple| %>
		<li>
			<%=h couple.name_1 %> & <%=h couple.name_2 %><br />
			<%=h couple.address_1 %>: <%=h couple.lat_1 %>, <%=h couple.long_1 %><br /> 
			<%=h couple.address_2 %>: <%=h couple.lat_2 %>, <%=h couple.long_2 %><br />
			<%= link_to 'Edit', edit_couple_path(couple) %>
			<%= link_to 'Destroy', couple, :confirm => "Are you sure?", :method => :delete %>
		</li>
	<% end %>
</ol>