
<div id="form">
	<h1>Add your LDR!</h1>
	<ul>
		<%= form_for(@couple) do |f| %>
			<li><%= f.label :name_1, "Your Name" %>  <%= f.text_field :name_1 %></li>
			<li><%= f.label :address_1, "Your Location" %>  <%= f.text_field :address_1 %></li>
			<li><%= f.label :name_2, "Your SO's Name" %>  <%= f.text_field :name_2 %></li>
			<li><%= f.label :address_2, "Your SO's Location" %>  <%= f.text_field :address_2 %></li>
			<%= f.submit 'Add' %>
		<% end %>	
	</ul>
</div>
<div id="list">
	<ol>
		<% @couples.each do |couple| %>
			<li>
				<%=h couple.name_1 %> & <%=h couple.name_2 %> (<%=h couple.distance %> miles)<br />
			</li>
		<% end %>
	</ol>
</div>
<div id="map_canvas"></div>